button {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #ed4933;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.5em;
    font-weight: 600;
    height: 3em;
    width: 15em;
    letter-spacing: 0.225em;
    line-height: 2em;
    padding: 0 2.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
