@import url("fonts.css");
@import url("button.css");

html {
	background-image: url("https://boomboompower.github.io/ToggleChat/files/images/back.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	font-family: "Open Sans", Helvetica, sans-serif;
	text-align: center;
	color: #fff;
}

hr {
	border-style: solid;
}

a:not(.regular) {
	transition: color 0.2s ease, border-bottom-color 0.2s ease;
	border-bottom: dashed 1px;
	text-decoration: none;
	color: inherit;
}

a:hover {
	border-bottom-color: transparent;
}

#content a {
	color: #009fff;
}

#topNav {
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	position: fixed;
    padding: 0;
    right: 35;
}

#topNav span:hover {
	color: #E8E8E8;
}

#lines {
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAzCAYAAADLqmunAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTZEaa/1AAAAdklEQVRoQ+3PsQ0DQRDDQPff9BuXs4JZEaACZvp9x9hhnR3W2WGdHdY5efiUGWUzymaUzSibUTajbEbZjLIZZTPKvjnFDuvssM4O6+ywzjt8yoyyGWUzymaUzSibUTajbEbZjLJvTrHDOjuss8M6O6yzwzbf9wc2HbuTK2/XSwAAAABJRU5ErkJggg==");
	position: relative;
	width: 25px;
	height: 25px;
	top: 5px;
}

#lines:hover {
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAzCAYAAADLqmunAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xNkRpr/UAAAB6SURBVGhD7dahEQMxEARB5x+psniX+ETQWtAHhi273znne8kG6zZYt8G6DdY9OfgpGWUZZRllGWUZZRllGWUZZRllGWX35M+p2mDdBus2WLfBujv4KRllGWUZZRllGWUZZRllGWUZZffkC6baYN0G6zZYt8G6Dbad7w/cE4KiPR/ZkAAAAABJRU5ErkJggg==");
}

#content {
	font-family: 'Overpass', sans-serif;
	font-size: 200%;
	position: relative;
    top: 70;
}

.title {
	position: relative;
	top: 50px;	
}

.title h1 {
	font-size: 40px;
}

::selection {
    background: #ddf;
}